.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@font-face {
  font-family: WantedSans-Black;
  src: url('./fonts/WantedSans-Black.ttf');
}

@font-face {
  font-family: WantedSans-Bold;
  src: url('./fonts/WantedSans-Bold.ttf');
}

@font-face {
  font-family: WantedSans-ExtraBlack;
  src: url('./fonts/WantedSans-ExtraBlack.ttf');
}

@font-face {
  font-family: WantedSans-ExtraBold;
  src: url('./fonts/WantedSans-ExtraBold.ttf');
}

@font-face {
  font-family: WantedSans-Medium;
  src: url('./fonts/WantedSans-Medium.ttf');
}

@font-face {
  font-family: WantedSans-Regular;
  src: url('./fonts/WantedSans-Regular.ttf');
}

@font-face {
  font-family: WantedSans-SemiBold;
  src: url('./fonts/WantedSans-SemiBold.ttf');
}


 

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
